<h1>Index Page</h1>

<% @cars.each do |car| %>

  <h1>ID: <%= car.id %></h1>
  <h1><%= car.make %></h1>
  <h3><%= car.modelname %></h3>
  <h3><%= car.year %></h3>
  <a href="/cars/<%= car.id %>">Go to Show Page</a>

<% end %>
